<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Style.css">
    <title>Document</title>
</head>
<body>
  <div class="containerM">
    <div class="Encabezado">
    <header>
        <h1>Binance NFT</h1>
        <div class="menu">
        <nav id="menu">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">Muestras NFT</a>
                <ul>
                    <li><a href="NftBinance.html">NFT's Binance</a></li>
                  <li><a href="NftOpensea.html">NFT's OpenSea</a></li>
                  <li><a href="NtfAxie.html">NFT's Axie</a></li>
                  <li><a href="NtfMonkeys.html">NFT's Monkey</a></li>
                </ul>
            </li>
              <li><a href="#">MarketPlaces NFT</a>
                <ul>
                  <li><a href="MarketPlaceB.html">MarketPlace Binance</a></li>
                  <li><a href="MarketPlaceO.html">MarketPlace OpenSea</a></li>
                  <li><a href="MarketPlace.html">MarketPlace Axie</a></li>
                </ul>
              </li>
              <li><a href="Adquirir.html">Como aquirir</a></li>
            </ul>
            </nav>
          </div>
    </header>
  </div>
  <div class="Texto">
    <p>Binance NFT Marketplace es un lugar donde se puede registrar, vender, subastar y exhibir arte, juegos, música, etc.
      esta plataforma esta amparada por una de las plataformas de criptomonedas más grande del mundo como es binance.
    </p>
    <br>
    <img src="../Utils/Img/Binance.png" alt="" style="height:434px; width:900px;">
  </div>
  <div class="Links">
    <h2>Binance</h2>
    <img src="../Utils/Img/BinanceLogo.jpg" alt="" style="width:200px ; height: 200px;">
    <p>visita la pagina <a href="https://www.binance.com/en/nft/home">aquí.</a></p>
    
  </div>
  </div>
  </body>
</html>