<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Style.css">
    <title>Document</title>
</head>
<body>
  <div class="containerM">
    <div class="Encabezado">
    <header>
        <h1>OpenSea</h1>
        <div class="menu">
        <nav id="menu">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">Muestras NFT</a>
                <ul>
                    <li><a href="NftBinance.html">NFT's Binance</a></li>
                  <li><a href="NftOpensea.html">NFT's OpenSea</a></li>
                  <li><a href="NtfAxie.html">NFT's Axie</a></li>
                  <li><a href="NtfMonkeys.html">NFT's Monkey</a></li>
                </ul>
            </li>
              <li><a href="#">MarketPlaces NFT</a>
                <ul>
                  <li><a href="MarketPlaceB.html">MarketPlace Binance</a></li>
                  <li><a href="MarketPlaceO.html">MarketPlace OpenSea</a></li>
                  <li><a href="MarketPlace.html">MarketPlace Axie</a></li>
                </ul>
              </li>
              <li><a href="Adquirir.html">Como aquirir</a></li>
            </ul>
            </nav>
          </div>
    </header>
  </div>
  <div class="Texto">
    <p>Con la idea de crear una especie de Amazon, pero dedicado a la compra, venta e intercambio de arte digital; a finales del 2017, Devin Finzer y Alex Atallah decidieron crear OpenSea: el mercado descentralizado más popular de NFT que, en tan solo cinco años y con 70 empleados, ha logrado convencer a, por lo menos, 1,8 millones de usuarios.</p>
    <br>
    <img src="../Utils/Img/openSea.png" alt="">
  </div>
  <div class="Links">
    <h2>OpenSea</h2>
    <img src="../Utils/Img/OpenseaLogo.jpg" alt="" style="width:200px ; height: 200px;">
    <p>visita la pagina <a href="https://opensea.io/">aquí.</a></p>
    
  </div>
  </div>
  </body>
</html>