<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Style.css">
    <title>Document</title>
</head>
<body>
    <div class="containerM">
      <div class="Encabezado">
    <header>
        <h1>Axie Infinity</h1>
        
        <div class="menu">
        <nav id="menu">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Muestras NFT</a>
              <ul>
                  <li><a href="NftBinance.html">NFT's Binance</a></li>
                <li><a href="NftOpensea.html">NFT's OpenSea</a></li>
                <li><a href="NtfAxie.html">NFT's Axie</a></li>
                <li><a href="NtfMonkeys.html">NFT's Monkey</a></li>
              </ul>
          </li>
            <li><a href="#">MarketPlaces NFT</a>
              <ul>
                <li><a href="MarketPlaceB.html">MarketPlace Binance</a></li>
                <li><a href="MarketPlaceO.html">MarketPlace OpenSea</a></li>
                <li><a href="MarketPlace.html">MarketPlace Axie</a></li>
              </ul>
            </li>
            <li><a href="Adquirir.html">Como aquirir</a></li>
          </ul>
          </nav>
        </div>
    </header>
  </div>
    <div class="Texto">
    <p>Axie Infinity es un Videojuego en línea basado en la red de Cadena de bloques en NFT desarrollado y distribuido por el estudio vietnamita de Sky Mavis, el juego funciona dando recompensas, que son los tokens del juego que utiliza la criptomoneda basada en Ethereum AXS (Axie Infinity Shards) y SLP (Smooth Love Potion). Actualmente es la colección de NFT más cara con más de $ 42 millones en ventas en junio de 2021.</p>
    <br>
    <img src="../Utils/Img/axie.png" alt="">
  </div>
  <div class="Links">
    <h2>Axie</h2>
    <img src="../Utils/Img/Axie-Infinity-Logo-2020.jpg" alt="" style="width:200px ; height: 200px;">
    <p>visita el marketPlace <a href="https://marketplace.axieinfinity.com/">aquí.</a></p>
    
  </div>
  </div>
</body>
</html>