<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Style.css">
    <title>Document</title>
</head>
<body>
  <div class="containerN">
    <div class="Header">
    <header>
        <h2>NTF'S OpenSea</h2>
        <div class="menu">
        <nav id="menu">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Muestras NFT</a>
              <ul>
                  <li><a href="NftBinance.html">NFT's Binance</a></li>
                <li><a href="NftOpensea.html">NFT's OpenSea</a></li>
                <li><a href="NtfAxie.html">NFT's Axie</a></li>
                <li><a href="NtfMonkeys.html">NFT's Monkey</a></li>
              </ul>
          </li>
            <li><a href="#">MarketPlaces NFT</a>
              <ul>
                <li><a href="MarketPlaceB.html">MarketPlace Binance</a></li>
                <li><a href="MarketPlaceO.html">MarketPlace OpenSea</a></li>
                <li><a href="MarketPlace.html">MarketPlace Axie</a></li>
              </ul>
            </li>
            <li><a href="Adquirir.html">Como aquirir</a></li>
          </ul>
          </nav>
        </div>
    </header>
  </div>
  <div class="Cards">
    <div class="containerFlex">
        <div class="card1">
            <img src="../Utils/Img/crocodileO.png" alt="Avatar" style="height: 384px;width: 386px;">
            <div class="container">
              <h4><b>Nombre: Croc #2235</b></h4>
              <p>Propietario: memberone_eth</p>
              <p>Precio: $2186,97</p>
            </div>
          </div>
          <div class="card1">
            <img src="../Utils/Img/unicornO.png" alt="Avatar" style="height: 384px;width: 386px;">
            <div class="container">
              <h4><b>Nombre: Sassafras Gretchen</b></h4>
              <p>Propietario: A96BC0</p>
              <p>Precio: $3427,75</p>
            </div>
          </div>
          <div class="card1">
            <img src="../Utils/Img/lemonO.png" alt="Avatar" style="height: 384px;width: 386px;">
            <div class="container">
              <h4><b>Nombre: Little Lemon #798</b></h4>
              <p>Propietario: HammerTanker</p>
              <p>Precio: $532,94</p>
            </div>
          </div>
        </div>
        </div>
      </div>
</body>
</html>