<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Style.css">
    <title>Document</title>
</head>
<body>
    <div class="containerN">
      <div class="Header">
    <header>
        <h2>NTF'S Axie</h2>
        <div class="menu">
        <nav id="menu">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Muestras NFT</a>
              <ul>
                  <li><a href="NftBinance.html">NFT's Binance</a></li>
                <li><a href="NftOpensea.html">NFT's OpenSea</a></li>
                <li><a href="NtfAxie.html">NFT's Axie</a></li>
                <li><a href="NtfMonkeys.html">NFT's Monkey</a></li>
              </ul>
          </li>
            <li><a href="#">MarketPlaces NFT</a>
              <ul>
                <li><a href="MarketPlaceB.html">MarketPlace Binance</a></li>
                <li><a href="MarketPlaceO.html">MarketPlace OpenSea</a></li>
                <li><a href="MarketPlace.html">MarketPlace Axie</a></li>
              </ul>
            </li>
            <li><a href="Adquirir.html">Como aquirir</a></li>
          </ul>
          </nav>
        </div>
    </header>
  </div>
  <div class="Cards">
    <div class="containerFlex">
        <div class="card1">
            <img src="../Utils/Img/hareA.PNG" alt="Avatar" style="height: 384px;width: 386px;" >
            <div class="container">
              <h4><b>Nombre: SPD 51 Arco Hare Confident</b></h4>
              <p>Propietario: R Topan Andrean</p>
              <p>Precio: $22</p>
            </div>
          </div>
          <div class="card1">
            <img src="../Utils/Img/pezA.PNG" alt="Avatar" style="height: 384px;width: 386px;">
            <div class="container">
              <h4><b>Nombre: Axie #7007742</b></h4>
              <p>Propietario: Lunacian #0</p>
              <p>Precio: $22</p>
            </div>
          </div>
          <div class="card1">
            <img src="../Utils/Img/colilloA.PNG" alt="Avatar" style="height: 384px;width: 386px;">
            <div class="container">
              <h4><b>Nombre: Axie #5577672</b></h4>
              <p>Propietario: Avery Dyes</p>
              <p>Precio: $22</p>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>
</html>